#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 80px;
  text-align: center;
  font-family: "Arial Rounded MT Bold";
}

.site-footer {
  /* make line along the entire width of the page */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08);
  margin-top: 40px;
  padding: 16px 0 24px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}
